# # Hospital Length of Stay Dataset
## Data Loading and Understanding
## Data Understanding and Descriptive Analysis

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/raw/LengthOfStay.csv")
df.head()

,eid,vdate,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,...,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,discharged,facid,lengthofstay
0,1,8/29/2012,0,F,0,0,0,0,0,0,...,192.476918,12.0,1.390722,30.432418,96,6.5,4,9/1/2012,B,3
1,2,5/26/2012,5+,F,0,0,0,0,0,0,...,94.078507,8.0,0.943164,28.460516,61,6.5,1,6/2/2012,A,7
2,3,9/22/2012,1,F,0,0,0,0,0,0,...,130.530524,12.0,1.065750,28.843812,64,6.5,2,9/25/2012,B,3
3,4,8/9/2012,0,F,0,0,0,0,0,0,...,163.377028,12.0,0.906862,27.959007,76,6.5,1,8/10/2012,A,1
4,5,12/20/2012,0,F,0,0,0,1,0,1,...,94.886654,11.5,1.242854,30.258927,67,5.6,2,12/24/2012,E,4

In [3]:
df.shape

(100000, 28)

In [4]:
df.columns

Index(['eid', 'vdate', 'rcount', 'gender', 'dialysisrenalendstage', 'asthma',
       'irondef', 'pneum', 'substancedependence', 'psychologicaldisordermajor',
       'depress', 'psychother', 'fibrosisandother', 'malnutrition', 'hemo',
       'hematocrit', 'neutrophils', 'sodium', 'glucose', 'bloodureanitro',
       'creatinine', 'bmi', 'pulse', 'respiration',
       'secondarydiagnosisnonicd9', 'discharged', 'facid', 'lengthofstay'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   eid                         100000 non-null  int64
 1   vdate                       100000 non-null  object
 2   rcount                      100000 non-null  object
 3   gender                      100000 non-null  object
 4   dialysisrenalendstage       100000 non-null  int64
 5   asthma                      100000 non-null  int64
 6   irondef                     100000 non-null  int64
 7   pneum                       100000 non-null  int64
 8   substancedependence         100000 non-null  int64
 9   psychologicaldisordermajor  100000 non-null  int64
 10  depress                     100000 non-null  int64
 11  psychother                  100000 non-null  int64
 12  fibrosisandother            100000 non-null  int64
 13  malnutrition                100000 non-null  int64
 14  hemo                        100000 non-null  int64
 15  hematocrit                  100000 non-null  float64
 16  neutrophils                 100000 non-null  float64
 17  sodium                      100000 non-null  float64
 18  glucose                     100000 non-null  float64
 19  bloodureanitro              100000 non-null  float64
 20  creatinine                  100000 non-null  float64
 21  bmi                         100000 non-null  float64
 22  pulse                       100000 non-null  int64
 23  respiration                 100000 non-null  float64
 24  secondarydiagnosisnonicd9   100000 non-null  int64
 25  discharged                  100000 non-null  object
 26  facid                       100000 non-null  object
 27  lengthofstay                100000 non-null  int64
dtypes: float64(8), int64(15), object(5)
memory usage: 21.4+ MB

In [6]:
df.describe()

,eid,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,depress,psychother,fibrosisandother,...,neutrophils,sodium,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,lengthofstay
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000
mean,50000.500000,0.036420,0.035270,0.094940,0.039450,0.063060,0.239040,0.051660,0.049390,0.004790,...,10.177455,137.891397,141.963384,14.097185,1.099350,29.805759,73.444720,6.493768,2.123310,4.00103
std,28867.657797,0.187334,0.184462,0.293134,0.194664,0.243072,0.426499,0.221341,0.216682,0.069044,...,5.353131,2.999669,29.992996,12.952454,0.200262,2.003769,11.644555,0.568473,2.050641,2.36031
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.100000,124.912632,-1.005927,1.000000,0.219770,21.992683,21.000000,0.200000,0.000000,1.00000
25%,25000.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,135.871062,121.682383,11.000000,0.964720,28.454235,66.000000,6.500000,1.000000,2.00000
50%,50000.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.400000,137.887151,142.088545,12.000000,1.098764,29.807516,73.000000,6.500000,1.000000,4.00000
75%,75000.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,11.500000,139.912885,162.180996,14.000000,1.234867,31.156885,81.000000,6.500000,3.000000,6.00000
max,100000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,245.900000,151.387283,271.444277,682.500000,2.035202,38.935293,130.000000,10.000000,10.000000,17.00000

In [7]:
df.describe(include="all")

,eid,vdate,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,...,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,discharged,facid,lengthofstay
count,100000.000000,100000,100000,100000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000,100000,100000.00000
unique,NaN,367,6,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378,5,NaN
top,NaN,10/3/2012,0,F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2/16/2012,E,NaN
freq,NaN,333,55031,57643,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,316,30755,NaN
mean,50000.500000,NaN,NaN,NaN,0.036420,0.035270,0.094940,0.039450,0.063060,0.239040,...,141.963384,14.097185,1.099350,29.805759,73.444720,6.493768,2.123310,NaN,NaN,4.00103
std,28867.657797,NaN,NaN,NaN,0.187334,0.184462,0.293134,0.194664,0.243072,0.426499,...,29.992996,12.952454,0.200262,2.003769,11.644555,0.568473,2.050641,NaN,NaN,2.36031
min,1.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-1.005927,1.000000,0.219770,21.992683,21.000000,0.200000,0.000000,NaN,NaN,1.00000
25%,25000.750000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,121.682383,11.000000,0.964720,28.454235,66.000000,6.500000,1.000000,NaN,NaN,2.00000
50%,50000.500000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,142.088545,12.000000,1.098764,29.807516,73.000000,6.500000,1.000000,NaN,NaN,4.00000
75%,75000.250000,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,162.180996,14.000000,1.234867,31.156885,81.000000,6.500000,3.000000,NaN,NaN,6.00000
max,100000.000000,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,271.444277,682.500000,2.035202,38.935293,130.000000,10.000000,10.000000,NaN,NaN,17.00000

In [8]:
df.isnull().sum()

eid                           0
vdate                         0
rcount                        0
gender                        0
dialysisrenalendstage         0
asthma                        0
irondef                       0
pneum                         0
substancedependence           0
psychologicaldisordermajor    0
depress                       0
psychother                    0
fibrosisandother              0
malnutrition                  0
hemo                          0
hematocrit                    0
neutrophils                   0
sodium                        0
glucose                       0
bloodureanitro                0
creatinine                    0
bmi                           0
pulse                         0
respiration                   0
secondarydiagnosisnonicd9     0
discharged                    0
facid                         0
lengthofstay                  0
dtype: int64

## Initial Observations

- The dataset contains multiple patient-related variables.
- Some columns contain missing values which will be handled in the next stage.
- The target variable for this project is **lengthofstay**, representing the number of days a patient stays in the hospital.

Next, data cleaning and exploratory data analysis (EDA) will be performed.